* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background-color: transparent;
    display: block;
    width: 100%;
    height: 100%;
}

img {
    vertical-align: middle;
    border: 0;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/*clear fix*/
.clear-fix {
    clear: both;
}
.clear-fix5 {
    clear: both;
    height: 5px;
}
.clear-fix10 {
    clear: both;
    height: 10px;
}
.clear-fix15 {
    clear: both;
    height: 15px;
}
.clear-fix20 {
    clear: both;
    height: 20px;
}
.clear-fix25 {
    clear: both;
    height: 25px;
}
.clear-fix30 {
    clear: both;
    height: 30px;
}
