* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

#wapper {
    max-width: 1200px;
    min-width: 325px;
    min-height: 314px;
    /*border: 1px solid tan;*/
    margin: 0 auto;
    position: relative;
    height: 100%;
}


/*header*/
#header {
    height: 90px;
    background: #2CA9E1;
    /* position: fixed; */
    min-width: 325px;
    /*border: 1px solid tan;*/
}

#header-logo {
    width: 90px;
    height: 80px;
    background:;
    margin-left: 10px;
    /*border: 1px solid tan;*/
    float: left;
}


#nav-header {
    width: 225px;
    height: 70px;
    /*border: 1px solid tan;*/
    float: right;
}


#nav-header ul {
    padding: 10px;
}

#nav-header ul li {
    padding: 0 10px;
    float: right;
    /*  width: 30px;
    height: 30px;*/
    position: relative;
    /*border: 1px solid tan;*/
}
#nav-header ul li a {  
}
#nav-header ul li a i {color: white;}


#nav-header a, .dropbtn {
    display: inline-block;
    /* color: white; */
    text-align: center;
    text-decoration: none;
}


#nav-header li.dropdown {
    display: inline-block;
}

#nav-header .dropdown-content {
    display: none;
    position: absolute;
    right: 2px;
    z-index: 100;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#nav-header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#nav-header .dropdown-content a:hover {background-color: #cfeefb;}

#nav-header .dropdown:hover .dropdown-content {
    display: block;
}
/*content*/
#content {
    height: 100%;
    position: relative;
    /* margin-bottom: 100px; */
    /* overflow: hidden; */
}
/*navigation content*/
#sidebar {
    border: 1px solid #2CA9E1;
    width: 167px;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    float: left;
    height: 100%;
    /* bottom: 0; */
}


#sidebar input {margin-top: 20px;width: 160px;padding-left: 10px;height: 25px;/* padding-top: 10px; */paddin;border-radius: 12px;radius: 10px;}
#sidebar button {

border: none;

background: white;

top: 24px;

position: absolute;

left: 133px;

border-radius: 50%;
}
#sidebar button i {
    
}

/*content main*/
#main {
    /* margin-left: 100px; */
    border: 1px solid #2CA9E1;
    width: calc(100% - 167px);
    /* position: absolute; */
    /* left: 167px; */
    /* top: 0; */
    height: 100%;
    float: left;
    /* bottom: 0; */
}


/*category */
#category {
    
margin-top: 18px;
}
#category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* position: relative; */
    /*border: 1px solid tan;*/
}

#category ul li {
    /*border: 1px solid tan;*/
    /* padding: 6px; */
}
#category ul li:hover {
    background-color: #d6f0fb;
}
#category ul li a {
    /*border: 1px solid tan;*/
    padding: 10px;
    text-align: left;
}
#nav-header a, .dropbtn {
    display: inline-block;
    /* color: white; */
    text-align: center;
    text-decoration: none;
}


#category li.dropdown {
    /* display: inline-block; */
    position: relative;
}

#category .dropdown-content {
    display: none;
    position: absolute;
    left: 165px;
    top: 0;
    z-index: 100;
    background-color: #d6f0fb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#category .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#category .dropdown-content a:hover {background-color: #a2e3ff;}

#category .dropdown:hover .dropdown-content {
    display: block;
}
  
/*footer*/

footer {

/* height: 90px; */

position: absolute;

bottom: 0;

width: 100%;

top: 10p;
}
#footer-content {

/* width: 1200px; */

/* margin: 0 auto; */

/* position: fixed; */

text-align: center;

/* bottom: 0px; */

/* padding: 25px 400px; */

color: #fff;

background-color: #2CA9E1;

height: 114px;

/* border: 1px solid #288b67; */
}

