/*body {*/
/*background: #ccc;*/
/*}*/


.page-content {
padding: 0;
margin: 0;
width: 100%;
}

ul {
    list-style: none;
    list-style-type: none;
}
ul > li {


}
/*.main-content {*/
/*width: 65%;*/
/*height: 400px;*/
/*background: gray;*/
/*}*/
/*.sub-content   {*/
/*width: 34%;*/
/*height: 200px;*/
/*border-bottom: 1px solid red;*/
/*background: blue;*/
/*float: left;*/
/*}*/

/*@media screen and (min-width: 480px) {*/
/*body {*/
/*background-color: lightgreen;*/
/*}*/
/*}*/


/*ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: #333;*/
/*}*/

/*li {*/
    /*width: 20%;*/
    /*float: left;*/
/*}*/

/*li a {*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /* width: 31%; */
    /*text-decoration: none;*/
/*}*/

/*li a:hover {*/
    /*background-color: #111;*/
/*}*/


/*media*/

/*@media screen and (max-width: 671px) {*/
    /*li {*/
        /*width: 100%;*/
    /*}*/
/*}*/