* {
	box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0
}

/*a tag*/
a {
	text-decoration: none;;;;;
}

a:hover {
    text-decoration: none;
    cursor: pointer
}

/*h tag*/
h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    text-align: center;
}

/*list tag*/
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*body tag*/

/*p tag*/
p {
    margin: 0;
}
body {
    font-family: arial;
    font-size: 12px ;
    line-height: 1.42857143;
}

/*image*/
img {
    vertical-align: middle;
}

img {
    border: 0;
}

/*clear-fix?*/

.clear-fix-5 {
    clear: both;
    width: 100%;
    height: 50px;
}
.clear-fix-10 {
    clear: both;
    width: 100%;
    height: 10px;
}
.clear-fix-15 {
    clear: both;
    width: 100%;
    height: 15px;
}
.clear-fix-20 {
    clear: both;
    width: 100%;
    height: 20px;
}
.clear-fix-25 {
    clear: both;
    width: 100%;
    height: 25px;
}
.clear-fix-30 {
    clear: both;
    width: 100%;
    height: 30px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;

}

/*line top */
.line-top-line {
    background: url('../img/border-restaurant-center.png');
    height: 10px;
}


.active {
    background-color: #530D18;
}










































