


body {
    font-family: arial;
    font-size: 12px;
    line-height: 1.42857143;
}

header {

}

/*top header*/

.top-header {
	background-color: #530D18;
	/* width: 100%; */
	padding: 0px 0px;
	/* height: 100%; */
}
.top-header .container {
	max-width: 1000px;
	/* height: 32px; */
	padding-right: 5px !important;
	padding-left: 5px !important;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

/*left*/
.top-header .container .top-header-left {
	float: left;
    width: 58.33333333%;	
}
.top-header .container .top-header-left .address-top {
    margin-top: 3px;	
}
.top-header .container .top-header-left .address-top li {
    font-size: 12px;
    color: #fceeff;
    float: left;
    padding: 0px 7px	
}
.top-header .container .top-header-left .address-top li:first-child {
    padding-left: 0px;
}
.top-header .container .top-header-left .address-top li img{
}

.top-header .container .top-header-left .address-top li a{
	color: #fff;
}


/*right*/
.top-header .container .top-header-right {
	float: left;
	width: 41.66666667%;
	/* border: 1px solid tan; */
	/* height: 44px; */
	position: relative;
}

.top-header-right ul {
	
float: right;
}
.top-header-right ul li {
	
float: left;
	
padding: 0 5px;
}

.top-header-right ul li:first-child {
	
padding-right: 10px;
}

.top-header-right ul li a {
	
color: #fff;
}
.top-header-right ul li span {
	
color: #fff;
}
.top-header-right ul li a img {

}
.top-header-right ul li a span {
	
}

/*Top center*/
.top-center {
	background: url(../img/banner-top.png)no-repeat;
	/* height: 74px; */
	/* border: 1px solid tan; */
	/* background-size: 100% 100%; */
	/* overflow: hidden; */
	/* background-size: 100%; */
	background-size: 100% 100%;
}
.top-center .container {
	max-width: 1000px;
	margin: 0 auto;
	height: 100px;
	z-index: 10;
	position: relative;
}
.top-center .container .nav-left{
	/* height: 44px; */
	/* border: 1px solid tan; */
	float: left;
	/* height: 44px; */
	/* border: 1px solid tan; */
	width: 40%;
	/* height: 44px; */
	/* border: 1px solid tan; */
	height: 44px;
	/* height: 44px; */
	/* border: 1px solid tan; */
	margin-top: 42px;
}

.top-center .container .nav-right{
	/* height: 44px; */
	/* border: 1px solid tan; */
	float: right;
	width: 40%;
	margin-top: 40px;
}

#logo {
	width: 20%;
	float: left;
}

.container  ul {
	
}
.container  ul li {
	
float: left;
border-radius: 20px;
padding: 10px;
	
/* width: 84px; */
	
/* border: 1px solid; */
}



/*back-top*/
.container .nav-left ul li:hover {;
    color: white;;
    background-color: #550E19;;
    position: relative;
}
.container .nav-left ul li a {

font-size: 17px;

color: white;
}




.container .nav-right {
	
}
.container .nav-right ul {
	
}
.container .nav-right ul li {
	
float: right;
	
padding: 10px;
}



/*back-top*/
.container .nav-right ul li:hover {
    background: #5A101C;
}
.container .nav-right ul li a {

font-size: 17px;

color: white;
}

.slider-main .slider {
	margin: 0 auto;
	width: 1000px;
	height: 500px;
	background-size: 100% 100%;
	background-image: url('../img/DSF13411.jpg');
	animation: slider-banner 10s ease infinite;
	position: relative;
}


.slider span {
    font-size: 90px;
    color: red;
    position: absolute;
    animation: sale-off 4s infinite;
    z-index: 3;
}















.slider-main .slider img {
}

/*introduce*/

div {
	
}
div .introduce {
    padding: 30px 0px 150px 0px;
    background: url(../img/content-home.png)no-repeat;
    background-size: 100% 100%;
}
div .introduce .container {
	width: 1000px;
	margin: 0 auto;
}
div .introduce .container .title-intro {
	font-size: 44px;
    color: #8a0000;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.introduce .container .dcs-intro {
	font-size: 36px;
	text-align: center;
}
.container .content-intro .descripton-intro {
	font-size: 16px;
}

.introduce .container .view-more {
text-align: center;

margin-top: -19px;

margin-left: 350px;

}

.restaurant {

}

.restaurant .title-retaurant {
	text-transform: uppercase;
	text-align: center;
    margin-bottom: 10px;
    padding: 10px 0px 35px 0px;
    font-size: 24px;
    color: #220005;
    font-weight: bold;
    background: url(../img/bg-hedding.png) no-repeat bottom center;
}


.restaurant .retaurant-home {
	/* padding: 57px 0px 72px 0px; */
	background: lightskyblue;

}

.restaurant .retaurant-home .restaurant-container {

max-width: 1000px;

/* height: 300px; */

margin: auto;

/* border: 1px solid black; */
}


.restaurant-container ul {
	overflow: hidden;
}
.restaurant-container ul .items-restaurant {

width: 30%;

margin: 1.666666666%;

/* height: 200px; */

/* border: 1px solid red; */

float: left;
}
.restaurant-container ul .items-restaurant a {

}
.restaurant-container ul .items-restaurant a p {

text-align: justify;

font-size: 16px;
} 
.restaurant-container ul .items-restaurant a h2 {

color: red;

text-align: center;
} 
.restaurant-container ul .items-restaurant a img {

}

/*ORDER FOOD */

.food-menu {

padding: 30px;
}
.food-menu .contain-menu {

max-width: 1000px;

margin: auto;
}
.food-menu .contain-menu h2 {

text-align: center;

font-size: 30px;

color: red;
}
.food-menu .contain-menu .menu-list {

}
.food-menu .contain-menu .menu-list ul {

overflow: hidden;

/* border: 1px solid red; */
}
.food-menu .contain-menu .menu-list ul li {

float: left;

margin: 1.66666666%;

width: 30%;

/* border: 1px solid red; */

height: 300px;

text-align: center;
}
.food-menu .contain-menu .menu-list ul li a {

}
.food-menu .contain-menu .menu-list ul li a img {

width: 100%;
transition: opacity 0.5s linear;
height: 192px;

opacity: 0.4;
}


.food-menu .contain-menu .menu-list ul li a img:hover {
    opacity: 1;
    transform: translate(0, -10px);
    box-shadow: 0 25px 24px 0 rgba(0, 0, 0, 0.2);
}
.food-menu .contain-menu .menu-list ul li a h2 {

}
.food-menu .contain-menu .menu-list ul li a p {

font-size: 20px;
}



/*Order food */

.order-food {
    background-size: 100% 100%;
    background: url('../img/bg-order-table.png') no-repeat;
	
}
.order-food h2 {
    font-size: 30px;
    color: red;
    text-align: center;
    background: url('../img/bg-hedding.png') no-repeat center bottom;
    padding: 14px;
    margin-top: -40px;

}

.order-food .container-order {;
    max-width: 1000px;;
    margin: 0 auto;;
    overflow: hidden;
	
}
.order-food .container-order .slide-order {
    width: 50;
    float: left;
	
}

.order-food .container-order .slide-order .slide-order-control {
	
}
.order-food .container-order .slide-order .slide-order-image {
    padding-bottom: 41px;

}

.order-food .container-order .Detail-order {
    width: 50%;
    float: left;
    padding: 20px;

}
.order-food .container-order .Detail-order span {

}
.order-food .container-order .Detail-order .address-restaurant{

}
.order-food .container-order .Detail-order .address-restaurant li  {

}
.order-food .container-order .Detail-order .address-restaurant li img {

}



/*Restaurant space ?*/

.restaurant-space {
    background-color: #fffdce;

}	

.restaurant-space .space-slider {

}

.restaurant-space .space-slider .restaurant-space-image {
}
.restaurant-space .space-slider .restaurant-space-image .images-space  {
    overflow: hidden;

}
.restaurant-space .space-slider .restaurant-space-image .images-space div {
	float: left;
	width: 25%;
	padding: 10px;
}

.restaurant-space .space-slider .restaurant-space-image .images-space div img {
	width: 100%

}


.restaurant-space .space-slider .restaurant-space-image .images-space div img:hover {
	opacity: 1;
    transform: translate(0,-12px);
    box-shadow: 0 25px 24px 0 rgba(0, 0, 0, 0.2);

}

/*Footer .. */

.footer {
	background: url('../img/bg-footer.png') no-repeat;
	background-size: 100% 100%;
	margin-bottom: 0px;
}

.footer .container {
    text-align: center;;;
	
}

.footer .container .social {
    text-align: center;
    overflow: hidden;;

}

.footer .container .social li {

}

.social a i {
	font-size: 	30px;
	padding: 5px;
}


/*back-top*/
.back-top {
	position: fixed;
	bottom: 28px;
	width: 40px;
	height: 50px;
	right: 0px;
	cursor: pointer;
	background: url('../img/up-arrow.png');
}





/*Navigation dropdown */
li .dropdown {
	display: inline-block;
}
.dropdown-content {
    position: absolute;
    background-color: gray;
    display: none;
    top: 44px;
    min-width: 160px;
    left: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #4F0C17}

.dropdown:hover .dropdown-content {
    display: block;
}















@keyframes slider-banner {
	0%  {background-image: url('../img/DSF1347.jpg');}
    25%  {background-image: url('../img/DSF1348.jpg');}
    50%  {background-image: url('../img/DSF1354.jpg');}
    75%  {background-image: url('../img/DSF2709.jpg');}
    100% {background-image: url('../img/DSF27151.jpg');}
}

@keyframes sale-off {
	0% {left: 0}
	50%   {left: 49%}
    100% {left: 0;}
}





/*Lienhe page*/

/*banner*/
div .banner-top {
	background: url('../img/banner/sakura-banner.jpg') repeat-x;
	height: 200px;
	background-size: 100% 100%;
}


div .order-table .title-order-table {
	color: red;
	font-size: 50px;
	background: url(../img/bg-hedding.png) no-repeat bottom center;
	text-align: center;
	/* background-size: 100% 100%; */
	/* height: 500px; */
}



div .order-table {
    background: url(../img/bg-order-table.png) no-repeat;
    background-size: 100% 100%;	
}

div .order-table .container {
	height: 500px;
	border: 1px solid tan;
}

div .order-table .container .form-order {
	width: 50%;
	border: 1px solid tan;
	float: left;
	height: 444px;
}

div .order-table .container .information-rs {
	width: 50%;
	border: 1px solid tan;
	float: left;
	height: 444px;
}












